@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

/* @font-face {
  font-family: "'IBM Plex Mono', monospace";
  font-family: "Raleway", sans-serif;
  src: url("../fonts/IBMPlexMono-Light.ttf") format("truetype"); 
  font-weight: normal;
  font-weight: normal;
} */

body,
html {
  /* font-family: "IBM Plex Mono', monospace";
  font-family: "Raleway", sans-serif; */
  font-family: 'Montserrat';
  width: 100%;
  height: 100%;
}

main > .container {
  padding: 70px 15px 20px;
}

.footer {
  background-color: #f5f5f5;
  font-size: 0.9em;
  height: 60px;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.not-set {
  color: #c55;
  font-style: italic;
}

/* svg {
  z-index: 8000;
} */

/* add sorting icons to gridview sort links */
a.asc:after,
a.desc:after {
  content: '';
  left: 3px;
  display: inline-block;
  width: 0;
  height: 0;
  border: solid 5px transparent;
  margin: 4px 4px 2px 4px;
  background: transparent;
}

a.asc:after {
  border-bottom: solid 7px #212529;
  border-top-width: 0;
}

a.desc:after {
  border-top: solid 7px #212529;
  border-bottom-width: 0;
}

.grid-view th {
  white-space: nowrap;
}

.hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}

.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
  padding-top: 7px;
  color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 767px) {
  .nav li > form > button.logout {
    display: block;
    text-align: left;
    width: 100%;
    padding: 10px 0;
  }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.75);
}

.nav > li > form > button.logout:focus {
  outline: none;
}

.navbar-nav > li {
  padding-left: 10px;
  padding-right: 10px;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.931);
}

.nav li > form > button.logout {
  color: rgba(0, 0, 0, 0.931);
}

.main-section {
  padding-top: 90px;
}

.login-form {
  padding-top: 300px;
  background: #ff1981;
}

#show {
  display: none;
}

h2 {
  display: flex;
}
p {
  display: flex;
}

.form-text,
.form-header {
  text-align: center;
  justify-content: center;
}

/* .form-items {
  font-weight: bold;
}

.control-label {
  opacity: 0.8;
} */

.site-login {
  height: auto;
  margin: 0 auto;
  width: 50%;
}

.form-control {
  border: none !important;
  border-radius: 0;
  border-bottom: 1px solid black !important;
  opacity: 0.8;
  margin-top: 10px;
}
.form-control:focus,
.form-control.is-valid:focus,
.form-control.is-invalid:focus {
  outline: none;
  box-shadow: none;
}

/* input:-internal-autofill-selected {
  appearance: menulist-button;
  background-image: none !important;
  background-color: -internal-light-dark(
    rgb(232, 240, 254),
    rgba(18, 206, 112, 0.4)
  ) !important;
  color: -internal-light-dark(black, white) !important;
} */

/* input:-webkit-autofill,
textarea:-webkit-autofill,
input:-internal-autofill-selected {
  background-color: white !important;
} */

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

.help-block {
  color: red;
}

button.btn.btn-link.logout:focus {
  outline: none;
  box-shadow: none;
}

.form-items > .form-group {
  width: 45%;
  margin: auto;
}

.form-group > textarea {
  border: 1px solid !important;
  border-radius: 5px;
}
textarea {
  resize: none;
}

.form-group > textarea:active {
  padding-bottom: 10px;
}

.carImg {
  object-fit: cover;
  width: 350px;
  height: 250px;
  border-radius: 25px;
}

.carImg:hover {
  opacity: 0.9;
  cursor: pointer;
  transition: transform 250ms ease;
  transform: scale(1.01);
}

.view-car {
  object-fit: cover;
  width: 1000px;
  height: 600px;
  border-radius: 15px;
}

.table-specs {
  display: flex;
  padding-right: 0px;
}

.side-car {
  object-fit: cover;
  width: 200px;
  height: 130px;
  border-radius: 15px;
}

.small-col {
  display: grid;
}

.car:hover {
  opacity: 0.9;
  cursor: pointer;
  transition: transform 250ms ease;
  transform: scale(1.01);
}

.img-window {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.img-window img {
  max-height: 80vh;
  max-width: 80vw;
}

.img-btn-next {
  display: block;
  padding: 6px 10px;
  border-radius: 4px;
  background-color: #111111;
  position: fixed;
  top: 48vh;
  z-index: 500;
  color: white;
  cursor: pointer;
}

.img-btn-next:hover {
  opacity: 0.9;
}

.img-btn-prev {
  display: block;
  padding: 6px 10px;
  border-radius: 4px;
  background-color: #111111;
  position: fixed;
  top: 48vh;
  z-index: 500;
  color: white;
  cursor: pointer;
}

.img-btn-prev:hover {
  opacity: 0.9;
}

#currentImg {
  object-fit: cover;
  width: 70%;
  height: 80%;
}

.row > div {
  --bs-gutter-x: 0.7rem;
}

.click-for-more-container {
  position: relative;
}

.click-for-more {
  pointer-events: none;
  position: absolute;
  width: 200px;
  height: 130px;
  border-radius: 15px;
  background-color: black;
  opacity: 0.9;
  z-index: 100;
}

.click-for-more-img img {
  position: absolute;
  z-index: 1;
}

.click-for-more-text {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
